
<%= react_component('ListingBox', render(template: 'listings/index.json.jbuilder')) %>

<div class="container">
  <% if (user_signed_in?) %>
    <%= link_to new_listing_path, class: 'btn btn-primary btn-block' do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Listing
    <% end %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="listing-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>